.profile {
  background-color: rgba(255, 255, 255, 0.5);
  width: 1098px;
  height: 544px;
  box-sizing: border-box;
  border: 20px solid #fff;
  border-radius: 30px;
  display: flex;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.profile .picture {
  width: 200px;
  height: 200px;
  margin: 20px 20px 0px 100px;
  border-radius: 50%;
  background-color: #f4c6c6;
}

.profile-details {
  padding-left: 20px;
  font-size: 24px;
}

.profile-details h1 {
  margin-bottom: -30px;
}

.profile .designation {
  color: #5F627A;
}

.profile-stats {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 20px 0;
  font-size: 20px;
}
.stat {
  text-align: center;
  line-height: 16px;
}

.line-separator {
  box-sizing: border-box;
  border-right: 1px solid black;
  width: 1px;
  height: 45px;
  margin: 0 40px;
}

.profile .btn {
  font-size: 20px;
  width: 150px;
  padding: 20px 10px;
  border-radius: 10px;
  border: 1px solid black;
}

.follow-btn {
  background-color: #aef1f5;
}

.view-profile-btn {
  background-color: #ffddb6;
  margin-left: 20px;
}
